<section class="content">
  <section class="content-fluid">
    <div style="position: absolute; z-index: 1001; right: 20px">
      <button id="button_client_delete" type="button" class="btn btn-sm btn-danger btn-icon-split mt-3 ml-5 d-none">
        <span class="icon text-white"><i class="fas fa-circle-minus"></i></span>
        <span class="text">Delete</span><span id="text"></span>
      </button>

      <button
        data-type="tooltip"
        title="Add new Clients"
        id="button_client_add"
        data-toggle="modal"
        data-target="#clientmodal"
        style="display: none"
        type="button"
        class="btn btn-sm btn-primary btn-icon-split mt-3"
      >
        <span class="icon text-white"><i class="fas fa-circle-plus"></i></span>
        <span class="text">Clients</span>
      </button>
    </div>
    <h5 class="mb-2 mt-0 pt-3 ms-3">
      Clients
      <div class="badge badge-success" id="client_count_badge">0</div>

      <div class="btn-group btn-group-toggle ms-2" data-toggle="buttons">
        <label class="btn btn-sm btn-primary"> <input type="radio" name="options" id="option_a1" autocomplete="off" checked="" /> List </label>
        <label class="btn btn-sm btn-primary"> <input type="radio" name="options" id="option_a2" autocomplete="off" /> Grid </label>
        <label class="btn btn-sm btn-primary"> <input type="radio" name="options" id="option_a3" autocomplete="off" /> Calendar </label>
      </div>
    </h5>
  </section>
  <section class="content-fluid">
    <!--<div id="main_clients_table" class="ag-theme-alpine"></div>-->
    <div id="main_clients_table" class="ag-theme-material"></div>
  </section>
  <section class="content-fluid invisible" id="no_data">
    <div style="height: 70vh" class="d-flex justify-content-center align-items-center">
      <div class="text-center">
        <img width="140" src="../../../elements/images/components/clients_component.svg" />
        <h4>Add your first client</h4>
        <h6>
          You do not have any clients yet. <br />
          Press Shift + N or click on button below.
        </h6>
        <button data-toggle="modal" data-target="#clientmodal" class="mt-3 btn btn-lg btn-success" style="border-radius: 35px" tabindex="0" type="button" style="margin-top: 15px">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </section>
</section>

</div>
